.container {
    display: flex;
    justify-content: space-around;

    border-top: 2px solid rgb(231,231,231);
    padding: 3rem 3rem;
}

.list li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}