.end .container {
    display: flex;
    justify-content: space-around;

    border-top: 1px solid rgb(231,231,231);
    padding: 3rem 3rem;
}

.list li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.header {
    padding-bottom: 0.5rem;
}

form {
    padding-top: 1rem;
}

input {
    border: 2px solid rgb(231,231,231);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    padding-right: 4rem;
}

.btn-subscribe {
    display: block;
    margin-top: 2rem;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    font-family: 'Raleway';
    background-color: black;
    color: white;
}

.newsletter-info {
    width: 300px;
    margin-top: 0.2rem;

}

.contact > * {
    padding: 0.3rem;
}

.supp-email,
.phone-num {
    text-decoration: underline;
}

.copyright-ending {
    margin: 3rem;

    font-size: 0.7rem;
}