.showcase {
    width: 100%;
    margin: 4rem 0rem;
    text-align: center;
}
.showcase-text {
    text-align: center;
}

.showcase > p {
    text-align: center;
    padding-top: 1rem;
}

.showcase .container {
    --gap: 1.2rem;
    --num-cols: 5;
    --row-height: 300px;

    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap)
}

.showcase .container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* 
.container img:first-child {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.container img:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}

.container img:nth-child(4) {
    grid-row-start: 1;
    grid-column-start: 2;
}

.container img:nth-child(5) {
    grid-row-start: 2;
    grid-column-start: 3;
}

.showcase .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showcase .top .price {
    font-weight: 600;
    color: #008000;
    font-size: 1.5rem;
}

.showcase .info {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
    width: 60%;
} */